[submodule "backend"]
	path = backend
	url = https://github.com/SeoulTech-DPS/ToolTrack-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SeoulTech-DPS/ToolTrack-frontend.git
